﻿@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
h1,  h3{
color:#7664ac;
}
h2, h4{
    color:#969696; 
}
h4{ 
    margin: 0 5px;
}
body{
    background-color: #eee;
}
.navbar-dark{
    background:#5135a5;
}
.navbar-brand{
    height: 75px;
}
.container{
    margin-top: 50px;
}
.btn-primary{
    background-color:  #7664ac;
    border-color:   #5135a5;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #5135a5!important;
    border-color:   #41288f;
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(172, 164, 204, .5)!important;
}
.btn-secondary{
    background-color: #ccb6ec;
    border-color:    #c6b6f7;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active{
    background-color: #bd9cec!important;
    border-color:   #c3a7eb!important;
}
.btn-secondary:focus{
    box-shadow: 0 0 0 0.2rem rgba(181, 169, 228, 0.5)!important;
}
.btn{
    width:100%;
}
.btn-md{
    display:flex;
    justify-content: center;
    align-items: center;

}
.btn-md{
    height: 34px;
}
.btn-md svg{
height:  20px;
margin: 0 3px;
}
.my-pill{
    padding: 10px;
    border-radius: 10px;
    min-height: 20vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.my-pill svg{
    max-height: 120px;
}

.calculator{
    background:white;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #58585891;
}
input, select{
    border-radius: 4px;
    border: 1px solid #dae0e5;
}
input{
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: 1.25rem;
    color: #5135a5;
}
input:focus, select:focus{
    outline: #7a7a7a auto 1px;
}