.boton-personalizado-2 {
  font-size: 20px;
  color: black;
  padding: 15px;
  background-color: white;
}

.boton-personalizado-2:hover {
  transition: background-color .3s, color .3s;
  background-color: black;
  color: white;
}

body {
  margin: 0px;
}

div {
  margin: 0px;
}

p, h1 {
  color: white;
}

.container {
  height: 10rem;
  display: flex;
  /* align-items: start; */
}
.center-h {
  justify-content: center;
}
.center-v {
  align-items: center;
}