:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --color-a: #ffffff;
  --color-b: #2b2b2b;
  --color-c: #707070;
  --color-d: #000000;
  --color-e: #333333;
  --color-f: #333333;
  --color-g: #333333;
  --color-h: #131313;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: black;
}

ul, li {
  list-style-type: none;
}

p {
  padding-left: 20px;
  text-align: left;
}

a:link {
  color: white;
  padding: 10px;
  margin: 0px;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: white;
  color: black
}

a:active {
  background-color: #303030;
}

button {
  display: inline-block;
  border: 2px solid transparent;
  color: black;
  background-color: white;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
}

button, span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* '\00bb' */
button span:after {
  content: '+'; 
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}

button:hover span {
  color: white;
  text-align: center;
  padding-right: 25px;
}

button:hover {
  border: 2px solid white;
  background-color: black;
}

button:hover span:after {
  opacity: 100%;
  right: 0;
}

button:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

button:active{
  color: black;
  background-color: white;
}


.container {
  display: grid;
  height: 100vh;
  grid-template-columns: .8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr 1.2fr 0.2fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "footer footer footer footer";
  grid-gap: 0.3rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-a);
  text-align: center;
}

nav {
  background: var(--color-b);
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

main {
  background: var(--color-c);
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#sidebar {
  background: var(--color-d);
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  background: var(--color-e);
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background: var(--color-f);
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: var(--color-g);
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background: var(--color-h);
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
